.current__accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active, .current__accordion:hover {
  background-color: #ccc;
}

.current__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}